section class="py-5">
   <div class="container px-4 px-lg-5 mt-5">
       <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% for product in products %}
           <div class="col mb-5">
               <div class="card h-100">
                   <!-- Sale badge-->
                   {% if product.discount %}
                   <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Discount 30%</div>
                   {% endif %}
                   <!-- Product image-->
                   <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                   <!-- Product details-->
                   <div class="card-body p-4">
                       <div class="text-center">
                           <!-- Product name-->
                           <h5 class="fw-bolder">{{product.name}}</h5>
                         
                           {% if product.discount %}
                           <span class="text-muted text-decoration-line-through">${{product.old_price}}</span>
                           ${{product.price}}
                           {% else %}
                           <span class="text">${{product.price}}</span>
                           {% endif %}
                       </div>
                   </div>
                   <!-- Product actions-->
                   <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                       <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {% url 'detail' product.slug %} ">View Options</a></div>
                   </div>
               </div>
           </div>
           {% endfor %}
          
       </div>
   </div>
</section>