{% extends 'storeapp/base.html' %} {% block content %}
<style>
  .minicontainer {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .imgcontainer {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .imgcontainer img {
    width: 100%;
    height: 100%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-3 col-xl-3">
      <ul class="list-group" style = "  list-style-type: none" >
        <li><a class="dropdown-item" href="{% url 'account' %}"><span><i class="bi bi-person-check"></i></span> My Account</a></li>
        <li><a class="dropdown-item" href="{% url 'order' %} "><span><i class="bi bi-cart"></i></span> Orders</a></li>
        <li><a class="dropdown-item" href="{% url 'saveitems' %}"><span><i class="bi bi-heart"> </i>Saved Items</a></li>
      </ul>
    </div>

    <br><br>
    <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
    <div class = 'row'> <h2><strong>Purchased Items</strong>  </h2> </div>
    {% for order in orders %}
      {% if order.completed == True %}
      <h4>Cart ID: {{order.cart_id}} </h4>
        {% for order in order.cartitems_set.all %}
        
      <div class="minicontainer">
        <div class="row">
          <div class="col-3">
            <div class="imgcontainer">
              <img src=" {{order.product.image.url}} " />
            </div>
          </div>
          <div class="col-6">
            <div class="itemName">
              <p>
                {{order.product.name}} -- (This is a wider card with supporting
                text)
              </p>
              <div style = 'display:flex; width: 200px; justify-content: space-between'> <h4>${{order.product.price|floatformat:2}}</h4>
                <h5 style="text-decoration: line-through;">${{order.product.old_price|floatformat:2}}</h5></div>
             
            </div>
          </div>
          <div class="col-3">
            <div class="action">
              <!-- <button class="btn btn-primary">Buy Now</button>
              <br /><br />
              <button class="btn btn-danger">Remove</button> -->
            </div>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}
      
      {% else %}
      <h3> You don't have any order </h3>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
